# Gradle build 폴더 제외
/build/
/out/
/target/

# Gradle Wrapper JAR 파일 (필요에 따라 포함 가능)
/gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA 관련 파일 제외
/.idea/
/*.iml

# Eclipse 관련 파일 제외
/.classpath
/.project
/.settings/

# VSCode 관련 파일 제외
/.vscode/

# 맥 OS 관련 파일 제외
.DS_Store

# 로그 파일 제외
*.log

# 임시 파일 제외
*.swp
*~

# 컴파일된 클래스 파일 제외
**/*.class

# 생성된 소스 파일 제외
/build/generated/
/build/generated-sources/

# 테스트 결과 제외
/build/reports/
/build/test-results/
/build/tmp/

# 의존성 캐시 제외
/.gradle/
/build/libs/

# API 문서 및 Swagger UI 제외
/build/api-spec/
/build/docs/
/build/generated-snippets/
/build/swagger-ui/

# 애플리케이션 JAR 파일 제외
/build/libs/*.jar

# Docker 관련 파일 (필요에 따라 포함 가능)
docker-compose.yml
Dockerfile

# 기타 불필요한 파일 제외
